*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #7e0e00;
  --background: #F8F5EE;
  --txt-color:#F8F5EE;
  --txt-color2:#0D0706;
  --hover-navbar:#d92d20; 
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --fontbold:"Poppins", sans-serif;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
      
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
      }
      
      .hamburger-menu:has(input:checked) {
        --foreground: white;
        --background: #333;
      }
      
      .hamburger-menu:has(input:focus-visible)::before,
      .hamburger-menu:has(input:focus-visible)::after,
      .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
      }
      
      .hamburger-menu::before,
      .hamburger-menu::after,
      .hamburger-menu input {
          content: "";
          width: var(--bar-width);
          height: var(--bar-height);
          background-color: var(--txt-color2); /* Stregerne er sorte*/ 
          border-radius: 9999px;
          transform-origin: left center;
          transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
      }
      
      .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
      }
      
      .hamburger-menu:has(input:checked)::before {
          rotate: 45deg;
          width: var(--x-width);
          translate: 0 calc(var(--bar-height) / -2);
          background-color: var(--txt-color); /* Krydset er hvidt*/ 
        }
      
      
      .hamburger-menu:has(input:checked)::after {
          rotate: -45deg;
          width: var(--x-width);
          translate: 0 calc(var(--bar-height) / 2);
          background-color: var(--txt-color); /* Krydset er hvidt*/ 
      }
      
      .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
      }
      
      .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        max-width: 20rem;
        min-height: 100vh;
      }
      
      .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
      }
      
      a{
          text-decoration: none ;
          color: var(--txt-color);
          font-family: var(--fontbold);
          font-size: 23px;
          padding: 20px;
          Margin: 20px 10px;
         
      }
      a:hover{
      background-color:var(--hover-navbar) ;
      padding: 5px;
      margin: 5px;
      }
      .logud {
          position: absolute;
          bottom: 0;
          color: var(--txt-color); 
          font-family: var(--fontbold); 
          font-size: 23px; 
          padding: 10px;
          margin: 10px;
          align-items: flex-end;
      }
    }
/*Tabels*/
@media only screen and (min-width: 600px) {
    body {
        background-color: #f5f0e6;
    }
    
}
/*desktop*/
@media only screen and (min-width: 901px) {
  .hamburger-menu {
    display: none;
  }

  .sidebar {
    translate: 0;
    transition: none;
    padding: 18px;
    max-width: none;
    min-height: auto;
    background-color: var(--foreground);
    
  }

  .sidebar nav {
    display: flex;
    justify-content: space-evenly;
  }

  .sidebar a,
  .sidebar a {
    text-decoration: none;
    position: inherit;
    margin: 0;
    padding: 18px;
    color: var(--txt-color);
    font-family: var(--fontbold);
  }
  a:hover{
    background-color: var(--hover-navbar);
  }
}